<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<h1>Green Garlic - 滙率轉換器</h1>

<div>
	<span>新台幣</span> &nbsp;&nbsp;<input type="text" id="srcMoney" value="1" style="width:50px;">&nbsp;&nbsp; 元等於:
</div>
<br/>
<div id="tgtMoneyArea" style="padding-left: 20px;"></div>
<div id="ejsData" style="display:none;"><%- JSON.stringify(exchangeRate) %></div>

<script>
	function update()
	{
		$('#tgtMoneyArea').html('');
		var srcMoneyVal = $('#srcMoney').val();
		if (!eval(srcMoneyVal)) srcMoneyVal = '0';
		var srcMoney = eval(srcMoneyVal);

		var exRateStr = $('#ejsData').text();
		var exRates = JSON.parse(exRateStr);
		for (var n in exRates)
		{
			var exRate = exRates[n];
			if ((exRate.curr == '') || !exRate.rate) continue;
	
			var tgtMoney = srcMoney / exRate.rate;
			$('#tgtMoneyArea').append(`<span>${exRate.curr}</span> ${tgtMoney} 元.<br/>`);
			console.log(exRate);
		}
	}
	$('#srcMoney').on('change', update);
	update();
</script>
